
#pierwszy {
    width: 300px;
    height: 300px;
    background-color: skyblue;
    position: relative;
}

#drugi {
    width: 150px;
    height: 150px;
    background-color: dimgrey;
    position: absolute;
    transform: translate(50%, 50%);
}
    
.ikonka a {
    font-size: 100px;
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 50%;
}

.ikonka a:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

.tecza {
    background: linear-gradient(to right, red, orange, yellow, pink, violet, blue, green);
    height: 100px;
}

.chmura {
    font-size: 15px;
}

.fa fa-cloud {
    font-size: 10px;
}

input {
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: gainsboro;
    border: #2b4a64 0px;
    text-decoration-color: red;
}

input::placeholder {
    color: palevioletred;
}

/* link doc na czerwono */

a[href$="doc"]{
    color: rosybrown;
}

a[href$="docx"]{
    color: slategrey;
}

/*.child {
    width: 150px;
    height: 150px;
    background-color: papayawhip;
    background-image: url(js.png);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.child {
    transform: scale(1.5);
}

.parent:hover .child {
    
    transform: scale(2);
}*/











